{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <a href="/"> Tiny Library </a> / <a href= "/archive"> Archive </a>
</div>
<div class="page_title">
    {{item.name}}
</div>
<div class="content">
    <div class="image">
        <img src="{% get_media_prefix %}{{ item.picture }}" height=50%, width= 50% alt="{{ item.name }}">
    </div>
    <div class="info">
        <ul>
            <li><p>Creator: {{item.creator}}</p></li>
            <li><p>Record Type: {{item.record_type}}</p></li>
            <li><p>Color: {{item.color}}</p></li>
            <li><p>Medium: {{item.medium}}</p></li>
            <li><p>Image Content: {{item.image_content}}</p></li>
            <li><p>Language: {{item.language}}</p></li>
            <li><p>Description: {{item.description}}</p></li>
            {% if item.threed %}
            <div class="sketchfab-embed-wrapper">
                <iframe title="{{item.name}}" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="{{item.threed}}/embed">  </iframe>
                <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                    <a href="{{item.threed}}" target="_blank">{{item.name}} on Sketchfab</a>
                </p>
            </div>
            {% endif %}
        </ul>
    </div>
    
</div>
{% endblock %}
