{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <a href="/"> Tiny Library </a> / <a href= "/aboutus"> About Us </a>
</div>
<div class="page_title">
    About Us
</div>
</div>
<div class="content">
    Hello! Our names are Julia, Lois, and Lauren and we are a group of three girls who have spent most of our time at home during the last two pandemic-ridden years. Since we’ve been spending most of our time at home, we took a look around and realized that some things in our house may not make perfect sense in the eyes of an outsider–especially those who are not familiar with the Asian-American tradition and culture. However, these random objects have a perfect place with a perfect purpose in our households. Bringing us here today to share a part of our culture and tradition to you all through our perfectly random things in the Asian house that just makes sense.
    </div>
    In our archive, we digitized five random things in an Asian household that just makes sense: (1) Banana Milk Piggy Bank, (2) Yogurtland Spoon, (3) House Slipper,  (4) Rice Scooper, and (5) Stool.What we believe to be the fundamental importance in preserving information on these five “random things around an Asian home that just makes sense” is that, with very minimal amounts of data, they all seamlessly illustrate a part of what Asian-American living looks like. These selected objects share a small, but an insightful aspect of culture and tradition that may not make sense to outsiders but are certainly an indispensable part of the Asian-American lifestyle. By preserving these objects, we hope to share a part of our culture and tradition, to create a light-hearted, safe space where fellow multicultural families can resonate with and share a good laugh.
    </div>
</ul>

{% endblock %}