{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style= "font-size:120%", class="breadcrumb">
    <a href="/"> LLJ Library</a> / Works Cited
</div>
</p>
<div class="page_title",  style="font-size: 300%;text-align:center;font-weight: bold">
    Works Cited
</div>
</p>
<div class="content", style="font-size: 180%">
    Montalvo, Irene, and Erin Fifield. "Traditions In Cultures." National Association of African American Studies, 2006. <em>ProQuest</em>, <a href="https://www.proquest.com/conference-papers-proceedings/traditions-cultures/docview/192407923/se-2">https://www.proquest.com/conference-papers-proceedings/traditions-cultures/docview/192407923/se-2.</a>
</div>
</p>
<p style="font-size: 180%">
    Lau, Anna S. “Physical discipline in Chinese American immigrant families: An adaptive culture perspective.” <em>Cultural diversity & ethnic minority psychology </em> vol. 16,3 (2010): 313-22. doi:10.1037/a0018667.
    </div>
{% endblock %}