{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb">
    <a href="/"> LLJ Library </a> / <a href= "/workscited"> Works Cited </a>
</div>
<div class="page_title">
    Works Cited
</div>
</p>
<div class="content">
    Montalvo, Irene, and Erin Fifield. Traditions In Cultures. National Association of African American Studies, 2006. ProQuest, https://www.proquest.com/conference-papers-proceedings/traditions-cultures/docview/192407923/se-2.
</div>
</p>
    Lau, Anna S. “Physical discipline in Chinese American immigrant families: An adaptive culture perspective.” Cultural diversity & ethnic minority psychology vol. 16,3 (2010): 313-22. doi:10.1037/a0018667
    </div>
{% endblock %}