{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style= "font-size:120%", class="breadcrumb">
    <a href="/"> LLJ Library</a> / Exhibit
</div>
</p>
<div class="page_title", style="font-size: 300%; font-weight: bold; text-align: center">
    Exhibits
</div>
<div class="content">
    {% if exhibits %}
    <ul>
        {% for exhibit in exhibits %}
        <li>
            <div class="exhibit", style="font-size: 200%"><a href="{{exhibit.id}}">{{exhibit.name}} </a> : {{exhibit.snippet}} </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No exhibits yet!</p>
    {% endif %}
</div>

{% endblock %}